{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.9.1"
      }
    ]
  ],
  "plugins": [["@babel/syntax-dynamic-import"], ["@babel/transform-react-jsx"]]
}
