
.example h2 {
  font-size: 1.5em;
    text-align: center;
}
  body,
  .example h1,
  .example p,
  .example .button {
    transition: all .2s ease-in-out;
  }
  
  body.light-theme {
    background-color: #151515;
  }
  
  body.light-theme .example h1 {
    color: #FFFFFF;
  }
  
  body.light-theme .example p {
    color: #FFFFFF;
  }
  
  body.light-theme .buttons .button {
    color: #FFFFFF;
    border-color: #FFFFFF;
  }
  
  body.light-theme .buttons .button:hover {
    color: #151515;
    background-color: #FFFFFF;
  }
  
  .example {
    font-family: 'Roboto', sans-serif;
    width: 480px;
    height: 230px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 1.6%;
    left: 55.4%;
  }
  
  .example .flipdown {
    margin: auto;
    width:449px !important;
  }
  
  .example h1 {
    text-align: center;
    font-weight: 100;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .example p {
    text-align: center;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 35px;
  }
  
  .example .buttons {
    width: 100%;
    height: 25px;
    margin: 25px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .example .buttons p {
    height: 25px;
    line-height: 12px;
    font-weight: 400;
    padding: 0px px 0px 0px;
    color: #333;
    margin: 0px;
  }
  
  .example .button {
    display: inline-block;
    height: 25px;
    box-sizing: border-box;
    line-height: 23px;
    text-decoration: none;
    color: #333;
    padding: 0px 10px;
    border: solid 2px #333;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .2s ease-in-out;
  }
  
  .example .button:hover {
    background-color: #333;
    color: #FFF;
  }
  
  .example .button i {
    margin-right: 5px;
  }

  .flipdown .rotor{
    width: 40px !important;
    font-size: 2.3rem !important;
    margin: 0px 12px 0px 0px !important;
  }

  .flipdown .rotor-group{
    padding-right: 8px !important;
    margin: 0px 0px 0px 0px !important;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after{
    left: 105px !important;
    width: 5px !important;
    height: 5px !important;
  }
  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before{
    left: 105px !important;
    width: 5px !important;
    height: 5px !important;
  }

  @media (max-width: 767px){
    .mds\:hidden {
      margin-top:0px;
      height: 129px;
    }
  }

  @media(max-width: 550px) {
    .example {
      width: 100% !important;
      padding: 0px !important;
      position: relative !important;
      top: 0 !important;
      left: 3% !important;
    }
  
    .example h1 {
      font-size: 1.5em;
    }
  
    .example p {
      margin-bottom: 12.5px;
    }
  
    .example .buttons {
      width: 100%;
      margin-top: 12.5px;
      text-align: center;
      display: block;
    }
  
    .example .buttons p,
    .example .buttons a {
      float: none;
      margin: 0 auto;
    }
  
    .example .buttons p {
      padding-right: 0px;
    }
  
    .example .buttons a {
      display: inline-block;
    }
    .example .flipdown {
      width: 339px !important;
    }
    .flipdown .rotor-group {
      padding-right: 13px !important;
      margin: 0px 7px 0px 0px !important;
    }
    .flipdown .rotor {
      width: 30px !important;
      margin: 0px 2px 0px 0px !important;
    }
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
      left: 68px !important;
      width: 10px !important;
      height: 10px !important;
    }
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
      left: 68px !important;
      width: 10px !important;
      height: 10px !important;
    }
  }
