@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
.boldTexts {
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.800000011920929px;
  text-align: center;
}

.semiBoldTexts {
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.regularBoldTexts {
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.800000011920929px;
  margin-bottom: 20px;
}